<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
     
      
    <servlet>
		<servlet-name>adminlogin</servlet-name>
		<servlet-class>com.oop.servlet.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>adminlogin</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>insertevent</servlet-name>
		<servlet-class>com.oop.servlet.InsertEventServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>insertevent</servlet-name>
		<url-pattern>/insert</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateevent</servlet-name>
		<servlet-class>com.oop.servlet.UpdateEventServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>updateevent</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteevent</servlet-name>
		<servlet-class>com.oop.servlet.DeleteEventServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deleteevent</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	

	         <servlet>
         	<servlet-name>guestlogin</servlet-name>
         	<servlet-class>com.oop.servlet.GuestLoginServlet</servlet-class>
         </servlet>
         
         <servlet-mapping>
         	<servlet-name>guestlogin</servlet-name>
         	<url-pattern>/logg</url-pattern>
         </servlet-mapping>
         
         <servlet>
         	<servlet-name>insertguest</servlet-name>
         	<servlet-class>com.oop.servlet.GuestInsertServlet</servlet-class>
         </servlet>
         
         <servlet-mapping>
         	<servlet-name>insertguest</servlet-name>
         	<url-pattern>/insertg</url-pattern>
         </servlet-mapping>
         
         <servlet>
         	<servlet-name>updateguest</servlet-name>
         	<servlet-class>com.oop.servlet.UpdateGuestServlet</servlet-class>      
         </servlet>
         
         <servlet-mapping>
         	<servlet-name>updateguest</servlet-name>
         	<url-pattern>/updateg</url-pattern>
         </servlet-mapping>
         
         <servlet>
         	<servlet-name>deleteguest</servlet-name>
         	<servlet-class>com.oop.servlet.DeleteGuestServlet</servlet-class>
         </servlet>
         
         <servlet-mapping>
         	<servlet-name>deleteguest</servlet-name>
         	<url-pattern>/deleteg</url-pattern>
         </servlet-mapping>
         
   
         
                   <servlet>
         	<servlet-name>carddetails</servlet-name>
         	<servlet-class>com.oop.servlet.CardServlet</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>carddetails</servlet-name>
         	<url-pattern>/card</url-pattern>
         </servlet-mapping>
         
         
          <servlet>
         	<servlet-name>insertpayment</servlet-name>
         	<servlet-class>com.oop.servlet.Paymetinsert</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>insertpayment</servlet-name>
         	<url-pattern>/insertp</url-pattern>
         </servlet-mapping>
         
         <servlet>
         	<servlet-name>updatepayment</servlet-name>
         	<servlet-class>com.oop.servlet.UpdatePaymentServlet</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>updatepayment</servlet-name>
         	<url-pattern>/updatep</url-pattern>
         </servlet-mapping>
         
         <servlet>
         	<servlet-name>deletepayment</servlet-name>
         	<servlet-class>com.oop.servlet.DeletePaymentServlet</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>deletepayment</servlet-name>
         	<url-pattern>/deletep</url-pattern>
         </servlet-mapping>  
         
           <!-- Search -->       
         <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>com.oop.servlet.BookigServelet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
   
   
   
  <!-- Insert -->    
     <servlet>
        <servlet-name>bookinginsert</servlet-name>
        <servlet-class>com.oop.servlet.BookingInsert</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>bookinginsert</servlet-name>
        <url-pattern>/insertb</url-pattern>
    </servlet-mapping>
    
    
    
   
   
 <!-- Update -->    
   <servlet>
        <servlet-name>updatebooking</servlet-name>
        <servlet-class>com.oop.servlet.UpdateBookingServelet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>updatebooking</servlet-name>
        <url-pattern>/updateb</url-pattern>
    </servlet-mapping> 
    
    
 <!-- Delete -->     
      <servlet>
        <servlet-name>deletebooking</servlet-name>
        <servlet-class>com.oop.servlet.DeleteBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletebooking</servlet-name>
        <url-pattern>/deleteb</url-pattern>
    </servlet-mapping>
         
</web-app>